<section>
    <form>
        <mat-form-field appearance="legacy">
            <input type="email" matInput placeholder="Your email">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <input type="password" matInput placeholder="Your password">
        </mat-form-field>
    </form>
</section>

<!-- Flexbox-->
<section id="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></div>
    <div id="child3" class="child"></div>
</section>